@using la_mia_pizzeria_static.Models.Database_Models;
@model List<Pizza>
@{
    // specifico quale layout dovra essere utilizzato per questa vista
    Layout = "_Layout";
    // Titolo personalizzato di questa vista
    ViewData["Title"] = "Tabella Pizze";
}

@section Styles {
    <!-- Indico il foglio di style css personalizzato per questa vista -->
    <link rel="stylesheet" href="~/css/IndexStyle.css" />
}

<div class="container">
    <h1 class="text-center py-3"> Le Nostre Pizze </h1>
    @if (Model.Count() == 0)
    {
        <div class="text-white"> Non ci sono pizze attualmente </div>
    } else
    {
        <!-- Creo la TABELLA che visualizzera i dati delle pizze -->
        <table class="table table-dark border border-white">
            <thead>
                <!-- Intestazione della tabella -->
                <tr class="text-center">
                    <th scope="col">Immagine</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ingredienti</th>
                    <th scope="col">Prezzo</th>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <th scope="col">
                            <a class="btn btn-success" href="@Url.Action("Create", "Pizza")">
                                Crea una pizza
                            </a>
                        </th>
                    } else
                    {
                        <th scope="col"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Pizza pizza in Model)
                {
                    <tr>
                        <td>
                            <!-- Visualizzo l'immagine della pizza -->
                            <img class="img-thumbnail" src="@pizza.Image" alt="@pizza.Name">
                        </td>
                        <td>
                            <!-- Visualizzo il nome della pizza -->
                            @pizza.Name
                        </td>
                        <td>
                            <!-- Visualizzo la descrizione della pizza -->
                            @pizza.Description
                        </td>
                        <td>
                            <!-- Visualizzo la categoria delle pizze se presente -->
                            @if (pizza.CategoryId != null)
                            {
                                <span>@pizza.Category.Title</span>
                            }
                            else
                            {
                                <span class="text-white">Nessuna</span>
                            }
                        </td>
                        <td>
                            <!-- Visualizzo gli ingredienti della pizza se ci sono -->
                            @if (pizza.Ingredients != null)
                            {
                                @foreach (Ingredient ingredient in pizza.Ingredients)
                                {
                                    <span class="badge rounded-pill bg-info text-dark">@ingredient.Title</span>
                                }
                            }
                            else
                            {
                                <span class="text-white">Nessuno</span>
                            }
                        </td> 
                        <!-- Visualizzo il prezzo della pizza -->
                        <td class="text-success fw-bold text-center">
                            €@pizza.Price
                        </td>
                        <td>
                            <div class="d-flex">
                                <!-- Pulsante che mi reindirizza alla pagina di DETTAGLIO della pizza -->
                                <a class="btn btn-primary" href="@Url.Action("Details", "Pizza", new {id = pizza.Id})">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                @if (User.IsInRole("ADMIN"))
                                {
                                    <!-- Pulsante che mi reindirizza alla pagina di MODIFICA della pizza -->
                                    <a class="btn btn-warning mx-1" href="@Url.Action("Update", "Pizza", new { id = pizza.Id })">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <!-- Pulsante che mi apre la modale per procedere all'ELIMINAZIONE della pizza -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#exampleModal" + pizza.Id)">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>

                                    <!-- Modale -->
                                    <div class="modal fade" id="@("exampleModal" + pizza.Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Eliminazione pizza</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-black">
                                                    Vuoi eliminare la pizza?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                                    <!-- FORM di ELIMINAZIONE della pizza -->
                                                    <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.Id" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-danger">
                                                            Elimina
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
